.hover-container {
  position: relative;
  display: inline-block;
  z-index: 3;
}

button{
  background : none;
  border: none;
  cursor: pointer;
  fill: var(--main-color);
  transition: all .3s ease-in-out;
}

button.show{
  scale: 1.1;
  rotate: 10deg;
}


.hover-content {
  position: absolute;
  width: 200px;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 2s, opacity 0.2s;
  z-index: 4;
  border-radius: 10px;
  
}

.hover-content span { 
  width: fit-content;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.hover-content::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #ccc transparent transparent transparent;
  
}

.hover-container:hover .hover-content {
  visibility: visible;
  opacity: 1;
  top: -140%; /* Ajusta el valor según sea necesario */
}