@keyframes displayBackground {

  0% {
    background-color: rgba(0, 0, 0, 0.1);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.4);
  }

}



.modal-backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 24;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: displayBackground;
      animation-duration: 0.4s;
      animation-timing-function:cubic-bezier(0.445, 0.05, 0.55, 0.95);
      animation-iteration-count: 1;
}

@keyframes expandModal {

  0% {
    top: 40%;
    opacity: 0;
  }
  100% {
    top: 50%;
    opacity: 1;

  }
}

.modal {

  width: 800px;
  height: 800px;
  margin:0 auto;
  display:table;
  position: absolute;
  left: 0;
  right:0;
  top: 50%;
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  transform:translateY(-50%);
  z-index: 25;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


@media (min-width: 768px) {
  .modal{
    animation-name: expandModal;
      animation-duration: 0.4s;
      animation-timing-function:cubic-bezier(0.445, 0.05, 0.55, 0.95);
      animation-iteration-count: 1;
  }

}


.modal-close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  /* scale: 1.05; */
  transition: all 0.3s ease-in-out;
}

.modal-close:hover{
  scale: 1.05;
  transition: all 0.3s ease-in-out;
}



.modal-header{
  width: 100%;
  padding: 10px;
  background-color: var(--main-color);
  position: relative;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: start;
  height: 10vh;


}

.modal-header img {
  width: 20px;
  height: 30px;
  object-fit: fill;
}


.modal-header span {
   font-size: 30px;
   margin-left: 20px;
   font-weight: bold;
}

.loading-container{
  color: var(--main-color);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

}

.modal-content{
  padding: 10px;
  /* height: 100%; */
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.info,
.actions{
  padding: 10px 20px;
}

.info{
  overflow-y: auto;
}

hr{
  border:  1px solid var(--text-color);
  margin: 10px 0px;
}

.title{
  font-weight: bold;
}

button {
  border: none;
  width: 100%;
  padding: 10px 20px;
  background-color: #f04b46;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover{
  background-color: var(--main-color);
  color: white;
}

.field{
  display: flex;
  flex-direction: column;
}

.field span {
  padding-left: 20px;
  font-size: 15px;
}

.field span.title{
  padding-left: 0px;
  font-size: 12px;
}


.info::-webkit-scrollbar {
  width: 1em;
  height: 1em;
}

.info::-webkit-scrollbar-track {
  background: #efedf7;
  border-radius: 100vw;
  margin-block: 0.1em;
}

.info::-webkit-scrollbar-thumb {
  background: gainsboro;
  border-radius: 10px;
}

.info::-webkit-scrollbar-thumb:hover {
  background: grey;
  border-radius: 10px;
}


/* .listado::-webkit-scrollbar {
  width: 0.3em;
  height: 1em;
}

.listado::-webkit-scrollbar-track {
  background: #efedf7;;
  border-radius: 100vw;
  margin-block: 0.1em;
}

.listado::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}

.listado::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
  border-radius: 10px;
} */




@keyframes displayModal {

  0% {
    top: 90%;

  }


  100% {
    top: 0%;

  }

}

@media (max-height:750px) {
  .modal{
    height: 70vh;
  }
}


@media (max-width:1024px) {
  .modal-backdrop{
    height: 90vh;
  }
  .modal {
    top: 10vh;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 90vh;
    transform: none;
    animation-name: displayModal;
      animation-duration: 0.4s;
      animation-timing-function:cubic-bezier(0.445, 0.05, 0.55, 0.95);
      animation-iteration-count: 1;
  }

  .modal-header span {
    font-size: 12px;
    margin-left: 20px;
    font-weight: bold;
 }

 .modal-content{
  display: flex;
  flex-direction: column-reverse;
 }

}
