

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

/*
hr{
  width: 50%;
  border:  1px solid gainsboro;
} */


h1{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 35px;
  right: 20px;
  color: var(--main-color);
}

h1 span{
  font-size: 15px;
}

h1 span.title{
  margin-top: -15px;
  font-size: 30px;
}

.field{
  margin-top: 15px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
}


.field select,
.field input{
  width: 50vh;
  padding: 10px 20px;
  outline: none;
  border: 1px solid gainsboro;
  border-radius: 10px;
  margin-top: 10px;
}


.list-location{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;

}

.button-group{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}



button{
  padding: 15px 30px;
  border-radius: 10px;
  background-color: #f04b46;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

button:hover{
  transition: all 0.3s ease-in-out;
  background-color: var(--main-color);
}
@media (max-width: 1024px) {


  .button-group{
    flex-wrap: wrap-reverse;
  }


  .list-location{
    gap: 5px;
  }

  .container{
    justify-content: normal;
    height: 90vh;
    overflow-y: auto;
    padding: 20px 30px;
    overflow-x: hidden;
    padding-top: 50px;
  }


  h1, h2 {
    font-size: 15px;
    position: relative;
    top: 0;
    left: 0;
  }



  .field{
    padding: 0px;
  }

  .list-location{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: start;
    justify-content: center;

  }

  button{
    margin: 15px 20px;
    padding: 15px 0px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    width: calc(100vw - 50px);
  }



  h1 span.title{
    font-size: 15px;
    margin-top: -10px;
  }


}
