<nav>
  <!-- <div class="top">

  </div> -->

  <div class="li-items">
    <a class="item" routerLink="../cotizar">
      <img src="assets/images/isologo-rojo.png" >
      <span>Cotizador</span>


    </a>


    <a class="item" routerLinkActive="active" routerLink="./policies/list">
      <i class="fa-solid fa-file "></i>
      <span>Mis Polizas</span>

    </a>

    <a class="item" routerLinkActive="active" routerLink="./siniestros/list">
      <i class="fa-solid fa-person-falling-burst "></i>
      <span>Mis Siniestros</span>

    </a>
    <!-- <a class="item" routerLinkActive="active" routerLink="./policies/list">
      <i class="fa-solid fa-file "></i>
      <span>Mis reembolsos</span>

    </a> -->

    <!-- <a class="item" routerLinkActive="active" routerLink="./usuarios">
      <i class="fa-solid fa-user"></i>
      <span>Mi Usuario</span>

    </a> -->
    <a class="item" (click)="logout()" >
      <i class="fa-solid fa-circle-arrow-left  "></i>
      <span>Salir</span>
    </a>

    <!-- <a class="item" routerLinkActive="active" routerLink="./messages">
      <i class="fa-solid fa-message "></i>
      <span>Comunicacion</span>

    </a> -->

  </div>




</nav>

