<nav>
  <div class="top">
    <img src="assets/images/isologo-rojo.png" alt="">

  </div>

  <div class="li-items">


    <a class="item"  routerLinkActive="active" routerLink="./policies/list" >
      <i class="fa-solid fa-file "></i>
      <span>Mis Polizas</span>

    </a>
    <a class="item" routerLinkActive="active"  routerLink="./usuarios">
      <i class="fa-solid fa-person-falling-burst " ></i>
      <span>Mi Usuario</span>

    </a>
    <!-- <a class="item" routerLinkActive="active" routerLink="./messages">
      <i class="fa-solid fa-message "></i>
      <span>Comunicacion</span>

    </a> -->

  </div>


  <button class="log-out">
    <i class="fa-solid fa-circle-arrow-left  fa-2xl"></i>
    <span>Salir</span>
  </button>


</nav>
