.paymentbtn{
  margin: 20px 0px;
  width: 100%;
  border: none;
  border-radius: 8px;
  font-size: 12px;
  font-size: 16px;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  background-color: var(--main-color);

}
