<div class="container">
  <h1>
    <span style="color: gainsboro;">Paso 2: </span>
    <span class="title">Fechas del Viaje...</span>
  </h1>


  <h2>¿Cúales son las Fechas del Viaje?</h2>

  <hr>

  <div class="row">

    <div class="field">
      <i class="fa-regular fa-calendar"></i>
      <label for="">Fecha de Salida</label>
      <custom-calendar (onSelectDate)="setInitialDate($event)" ></custom-calendar>


    </div>

    <div class="field">
      <i class="fa-regular fa-calendar"></i>
      <label for="">Fecha de Retorno</label>
      <custom-calendar (onSelectDate)="setFinalDate($event)"></custom-calendar>


    </div>

  </div>

  <div class="field">
    <i class="fa-solid fa-pencil"></i>
    <label for="">Fechas del Viaje</label>

    <div class="travel-info">
      <div class="field">
        <i class="fa-regular fa-calendar"></i>
        <label for="">Fecha de Salida</label>
        <span  *ngIf="!initialDate?.valid; else isInitialSet">yyyy-mm-dd</span>
        <ng-template  #isInitialSet>
          <span>{{initialDate?.value}}</span>
        </ng-template>
      </div>
      <div class="field">
        <i class="fa-regular fa-calendar"></i>
        <label for="">Fecha de Retorno</label>
        <span  *ngIf="!finalDate?.valid; else isFinalSet" >yyyy-mm-dd</span>
        <ng-template #isFinalSet >
          <span>{{finalDate?.value}}</span>
        </ng-template>

      </div>
      <div class="field">
        <i class="fa-regular fa-calendar"></i>
        <label for="">Total de dias</label>
        <span *ngIf="!quantityDays?.valid; else isQuantitySet" >00 dias</span>
        <ng-template #isQuantitySet>
          <span>{{quantityDays?.value}}</span>
        </ng-template>
      </div>

    </div>

  </div>




  <div class="button-group">

    <button (click)="onBackStepBtn()">
      <span>Paso Previo</span>
    </button>

    <button (click)="onChangeStep()">
      <span>Sigamos</span>
    </button>
  </div>
</div>
