.polizaToPdf {
  width: fit-content;
  height: fit-content;
  background-color: red;
  position: relative;
}

.poliza-imprimir span,
.poliza-imprimir p,
.poliza-imprimir h1 {
  font-size: 5px;
  color: var(--text-color);
}

.poliza-imprimir {
  /* bottom: -230%; */
  /* bottom: 20%; */
  width: 744px;
  height: 1050px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.poliza-imprimir .top {
  width: 744px;
    height: 130px;
    display: flex;
    position: relative;
    top: 0;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--main-color);
}

.poliza-imprimir .top .items {
  position: relative;
  width: 744px;
  height: 150px;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
}

.top .saludo {
  margin: 45px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top .saludo h1 {
  margin-left: 20px;
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.top .qr_space {
  position: absolute;
  top: 5%;
  right: 0;
  border-radius: 10px 0px 0px 10px;
  margin-top: 20px;
  width: 200px;
  height: 90px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 5px;
  overflow: hidden;
}

.qr_space .qr {
  width: 200px;
  margin-right: 10px;
  height: 100px;
  overflow: hidden;
  margin-top: -5px;
}

.qr_space .message {
  margin-left: 0px;
  width: 150px;
  font-size: 12px;
  margin-top: 20px;
}

.datos-beneficiario {
  position: relative;
  top: 10px;
  left: 50px;
  border: 1px solid gainsboro;
  border-radius: 20px;
  width: 644px;
  height: 150px;
  background-color: transparent;
  padding: 5px 20px;
}

.datos-beneficiario span {
  font-size: 12px;
}

.datos-beneficiario .data {
  margin: 10px;
  width: calc(100% - 20px);
  height: calc(50% - 10px);
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.data .left {
  margin-left: 0px;
  padding: 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.data .right {
  margin-right: 0px;
  padding: 0px 30px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.descriptions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 140px;
  margin: 0px 2px;
  height: 100%;
  padding: 0px 5px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 140px;
  margin: 0px 2px;
  height: 100%;
  padding: 0px 5px;
}

.info span,
.descriptions span {
  font-size: 10px;
  margin: 2px 0px;
}

.nombre-beneficiario {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--main-color);
  font-weight: bold;
}

.nombre-beneficiario span {
  margin-left: 4px;
}

.logo {
  display: flex;
  width: 744px;
  height: 192px;
  color: red;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 60px 30px 30px;
}

.logo .img {
  width: 66px;
  height: 66px;
  margin-right: 30px;
  position: relative;
  top: 1;
}

.logo .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo .nombre {
  width: 450px;
  height: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -20px;
  margin-left: -20px;
}

.logo .nombre p .assis {
  font-weight: 120;
  color: var(--main-color);
  font-size: 50px;
}

.logo .nombre p .trip {
  font-weight: bold;
  color: var(--main-color);
  font-size: 42px;
  margin-left: -4px;
}

.logo .nombre p .com {
  font-weight: bold;
  color: #df085a;
  font-size: 20px;
}

.logo .nombre .descripcion {
  margin-top: -15px;
}

.logo .nombre .descripcion span {
  font-size: 12px;
  letter-spacing: 0.2em;
}

.data_plan {
  display: flex;
  flex-direction: column;
  width: 744px;
  height: 600px;
  align-items: center;
  justify-content: start;
}

.catalogo {
  width: 744px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.asistencia {
  width: 324px;
  display: flex;
  flex-direction: column;
}

.catalogo .plan {
  width: 100%;
}

.catalogo .plan span {
  font-size: 30px;
  color: #ec197d;
  font-weight: bold;
}

.catalogo .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}

.catalogo .description span {
  font-size: 12px;
  font-weight: bold;
  color: var(--text-color);
}

.beneficios {
  padding: 0px;
  width: 100%;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.beneficios .beneficio {
  flex: 1 1 calc(50% - 20px);
  margin: 0px 10px;
  padding: 0px 10px;
}

.beneficio .title {
  display: flex;
  flex-direction: row;
}

.beneficio .title span {
  font-size: 12px;
  color: var(--main-color);
  font-weight: bold;
}

.list-cats {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 10px;
}

.list-cats .data {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  border-right: 1px solid var(--main-color);
  padding-right: 5px;
  width: 85px;
  margin: 3px 0px;
}

.list-cats .cats {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5px;
  justify-content: flex-start;
  margin: 3px 0px;
}

.list-cats .cats span,
.list-cats .data span {
  height: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: start;
  margin: 1px 0px;
}

.list-cats .data span,
.list-cats .cats span {
  font-size: 10px;
  color: var(--text-color);
}

.asistencia .soporte {
  display: flex;
  flex-direction: column;
  border: 1px solid #482484;
  border-radius: 20px;
  padding: 50px 20px;
  width: calc(100% - 80px);
  margin-left: 80px;
  height: 400px;
  position: relative;
}

.soporte .mensaje {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.mensaje p {
  font-size: 20px;
  text-align: left;
  color: var(--text-color);
}

.mensaje p span {
  color: #ec197d;
  font-size: 20px;
}

.soporte .contacto {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.contacto span {
  font-size: 20;
}

.contacto span.title {
  font-size: 20px;
  color: #ec197d;
}

.contacto span.description {
  font-size: 23px;
  color: var(--text-color);
}

.asistencia .whatsappLogo {
  position: absolute;
  padding: 10px;
  left: 0;
  bottom: 0;
}

.whatsappLogo img {
  fill: #ec197d;
  color: #ec197d;
}

.ayuda {
  width: calc(100% - 100px);
  height: 100px;
  border-radius: 10px;
  border: 1px solid var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  position: relative;
  top: 130px;
}

.ayuda span {
  font-size: 12px;
  padding: 0px 20px;
}

.contacto {
  font-size: 15px;
  color: green;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 744px;
  height: 30px;
  display: flex;
  position: absolute;
  bottom: 0px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--main-color);
  padding-left: 30px;
}

.footer .info {
  background-color: white;
  width: 714px;
  height: 60px;
  position: absolute;
  bottom: -15px;
  display: flex;
  flex-direction: column;
}
.line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.line hr {
  width: 650px;
  color: var(--main-color);
  height: 1px;
}

.line .img {
  width: fit-content;
  height: fit-content;
}

.line .img img {
  width: 20px;
  height: 30px;
  object-fit: fill;
}

.info .date {
  margin-top: -20px;
  padding-left: 10px;
  font-size: 10px;
}

.date span {
  font-size: 8px;
}
