<div class="container">


  <div class="back-btn">
    <a routerLink="../../landing-page/home" >
      <span>Volver</span>
    </a>
  </div>

  <div class="login-container">
    <div class="left">
      <img src="assets/images/isologo-blanco.png" alt="">

    </div>
    <div class="right">
      <div class="top">
        <i class="fa-solid fa-shield fa-2xl"></i>
        <h2>Login</h2>
      </div>
      <hr style="border: 2px solid var(--text-color);">


      <div class="info">
        <div class="field">
          <i class="fa-solid fa-user"></i>
          <label for="">Usuario</label>
          <input type="text" placeholder="User">
        </div>
        <hr>

        <div class="field">
          <i class="fa-solid fa-lock"></i>
          <label for="">Password</label>
          <input type="password" placeholder="User">
        </div>
        <hr>


        <div class="buttons-group">
          <button>
            <i class="fa-solid fa-door-closed"></i>
            <span>Ingresar</span>
          </button>
        </div>

      </div>

    </div>

  </div>
</div>
