<div class="page">
  <div class="page-title">
    <h1>Compra : {{venta_id}}</h1>

  </div>



  <div class="info">
    <span  *ngIf="!isReady; else ready" >Cargando la informacion</span>
    <ng-template #ready>

      <div class="list">
        <button  (click)="downloadPdf()" style="padding: 10px 20px; border: none; cursor: pointer ; background-color: var(--main-color); color: white;font-size: 15px; border-radius: 8px;"  >Descargar Condicionado</button>
        <card-poliza [poliza]="poliza!" [servicio]="servicio!" [isClient]="isClient"  [beneficiario]="listBeneficiarios[0]"  ></card-poliza>
        <card-beneficiario *ngFor="let beneficiario of listBeneficiarios; let i = index" [beneficiario]="beneficiario!"
          style="margin: 10px 0px;" [servicioUi]="servicioUi!" [poliza]="poliza!" [venta]="venta!"></card-beneficiario>
      </div>

    </ng-template>
  </div>


</div>
