<div class="container">
  <h1>
    <span style="color: gainsboro;" >Paso 5: </span>
    <span  class="title">Rellena la Informacion...</span>
  </h1>


  <h2>Rellena la Informacion de los beneficiarios</h2>

  <hr>

  <div class="field" style="margin-top: 70px;">
    <div class="left">
      <div class="poliza titular">
        <div class="top">
          <i class="fa-solid fa-person-circle-check"></i>
          <span>Titular de la Poliza</span>
        </div>
        <div class="info">


        </div>

      </div>
      <div class="poliza">

      </div>
      <div class="poliza">

      </div>
      <div class="poliza">

      </div>
      <div class="poliza">

      </div>

    </div>
    <div class="right">

      <div class="info-data">
        <div class="top-info">

        </div>
      </div>

    </div>




  </div>


  <div class="button-group">

    <button (click)="onBackStepBtn()">
      <span>Paso Previo</span>
    </button>

    <button (click)="onChangeStep()">
      <span>Sigamos</span>
    </button>
  </div>
</div>
