<div class="page">

  <div class="top">
    <div class="profile">
      <div class="avatar">
        <i class="fa-solid fa-user"></i>
      </div>
      <span>walteribanez555@gmail.com</span>

    </div>

    <div class="page-title">
      <h1>Lista de Compras</h1>

    </div>
  </div>
  <div class="content">

    <div class="top">
      <div class="input-field">
        <input type="text" placeholder="numero de venta">
        <i class="fa-solid fa-magnifying-glass"></i>

      </div>


    </div>


    <!-- <div class="switch-display">
      <button [class.active]="onTableDisplay"  (click)="onChangeTypeListDisplay(true)">
        <span>Tabla</span>
      </button>


      <button [class.active]="!onTableDisplay"  (click)="onChangeTypeListDisplay(false)" >
        <span>Elemento</span>
      </button>
    </div> -->

    <div class="table-list"  *ngIf="onTableDisplay; else onCardDisplay">
      <table>
        <tr>
          <th>Id</th>
          <th>Status</th>
          <th>Fecha Compra</th>
          <th>Cantidad</th>
          <th>Total Pago</th>
          <th></th>
        </tr>

        <tr >
          <td routerLink="./1">25</td>
          <td routerLink="./1">
            <span class="status active">Activa</span>
          </td>
          <td routerLink="./1">2023/05/02</td>
          <td routerLink="./1">3</td>
          <td routerLink="./1">{{120| currency}}</td>
          <td >
          </td>
        </tr>

        <tr>
          <td>25</td>
          <td>
            <span class="status cotizacion">Cotizacion</span>
          </td>
          <td>2023/05/02</td>
          <td>3</td>
          <td>{{120| currency }}</td>
          <td>
            <span class="pago-link">Pagar</span>
          </td>
        </tr>
        <tr>
          <td>25</td>
          <td>
            <span class="status standby">Stand By</span>
          </td>
          <td>2023/05/02</td>
          <td>2</td>
          <td>{{120 | currency}}</td>
          <td></td>

        </tr>
        <tr>
          <td>25</td>
          <td>
            <span class="status process">Anulado</span>
          </td>
          <td>2023/05/02</td>
          <td>1</td>
          <td>{{'30000' | currency}}</td>
          <td></td>

        </tr>

        <tr>
          <td>25</td>
          <td>
            <span class="status vigente">Vigente</span>
          </td>
          <td>2023/05/02</td>
          <td>1</td>
          <td>{{'30000' | currency}}</td>
          <td></td>

        </tr>


      </table>
    </div>


    <ng-template #onCardDisplay >
      <span>Display on Card</span>

    </ng-template>

  </div>

</div>
