.page{
  height: fit-content;
  overflow-y: auto;
  padding: 10px;
  overflow-x: hidden;
}


.input-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}

.input-field input {
  width: calc(100% - 400px);
  outline: none;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 10px;
  border: 1px solid gainsboro;
  color: var(--text-color);
  /* font-weight: bold; */
}

.input-field i {
  /* color: var(--main-color); */
  position: absolute;
  left: 20px;
  top: 25px;
  scale: 1.25;
}

.table-list {
  width: 100%;
  /* height: 100%; */
  border: 1px solid gainsboro;
  overflow-y: auto;
  height: fit-content;
  position: relative;
  /* padding: 0px 20px; */
  z-index: 2;
  overflow-x: hidden;
  border-radius: 5px;
}

.pago-link {
  padding: 10px 20px;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  border-radius: 10px;
  transition: 0.3s all ease-in-out;
}

.pago-link:hover {
  color: white;
  transition: 0.3s all ease-in-out;
  background-color: var(--main-color);
}

.table-list::-webkit-scrollbar {
  width: 1em;
  height: 1em;
}

.table-list::-webkit-scrollbar-track {
  background: #efedf7;
  border-radius: 100vw;
  margin-block: 0.1em;
}

.table-list::-webkit-scrollbar-thumb {
  background: gainsboro;
  border-radius: 10px;
}

.table-list::-webkit-scrollbar-thumb:hover {
  background: grey;
  border-radius: 10px;
}

.page{
  padding: 10px;
  padding-bottom: 20vh;

}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  width: 100%;
}

.table-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.table-data {
  width: 100%;
  height: 500px;
  overflow: auto;
  border-radius: 2px;
  border: 1px solid #ccc;
}



.info {
  padding: 0px;
}

/* Tabla de datos */
table td {
  padding: 20px 0;
  border-bottom: 1px solid var(--border-color);
}

table th {
  padding: 20px 0;
  border-bottom: 1px solid black;
}

table {
  width: 100%;
}


thead {
  position: sticky;
  top: 0;
  background-color: var(--body-bg);
}
table thead tr {
  text-align: left;
}
table th {
  font-size: small;
  text-align: center;

  border-bottom: 1px solid var(--border-color);
}

table td {
  text-align: center;
  font-size: small;
}



table td span.congelada {
  color: gray;
  border: 1px solid gray;
  padding: 2px 5px;
}



table td a {
  text-decoration: none;
  color: var(--main-color);
  font-weight: bold;
}


.status{
  padding: 5px 10px;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  font-weight: bold;
  border-radius: 8px;
}


.status.success{
  border: 1px solid green;
  color: green;
}

td span.status.cotizacion {
  border: 1px solid gray;
  color: gray;
  font-weight: 200;
}

td span.status.standby {
  border: 1px solid orange;
  color: orange;
  font-weight: 200;
}

td span.status.vigente {
  border: 1px solid blue;
  color: blue;
  font-weight: 200;
}

a:hover,
tr:hover {
  background-color: gainsboro;
  cursor: pointer;
}

table a {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  text-decoration: none;
  color: var(--text-color);
  height: 80px;
  vertical-align: middle;
}

.switch-display {
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding: 10px;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}



.switch-display button{
  padding: 10px 20px;
  border: 1px solid var(--main-color);
  background-color: white;
  color: var(--main-color);
  border-radius: 10px;
  cursor:  pointer;
  font-size: 12px;
}

.switch-display button.active{
  background-color: var(--main-color);
  color: white;
}

@media (max-width: 1024px) {

  .info{
    width: 100%;
    overflow-x: hidden;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }


  .page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 80vh;
    padding-bottom: 15vh;
  }

  .list{
    width: 100%;
    border: 5px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
  }

  /* .table-list {
    width: 100%;
    border: 1px solid gainsboro;
    overflow-y: auto;
    position: relative;
    z-index: 2;
    overflow-x: hidden;
    border-radius: 5px;
  } */


  .page-title h1{
    font-size: 15px;
  }


  table tr {
    width: fit-content;
  }

  table th,
  table td {
    padding: 20px 10px;
    font-size: 12px;
  }


  /* .table-list {
    width: 100%;
    border: 1px solid gainsboro;
    overflow-y: auto;
    position: relative;
    z-index: 2;
    overflow-x: hidden;
    border-radius: 5px;
  } */




}
