<div class="page">

  <div class="page-title">
    <h1>Lista de Compras</h1>
  </div>




  <!-- <div class="switch-display">
      <button [class.active]="onTableDisplay"  (click)="onChangeTypeListDisplay(true)">
        <span>Tabla</span>
      </button>


      <button [class.active]="!onTableDisplay"  (click)="onChangeTypeListDisplay(false)" >
        <span>Elemento</span>
      </button>
    </div> -->

    <div class="info">
      <div class="table-data ">
        <table>
          <tr>
            <th>Codigo Venta</th>
            <th>Servicio</th>
            <th>Status</th>
            <th>Fecha Compra</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Extras</th>
            <th>Descuento</th>
            <th>Total Pago</th>

          </tr>


          <tr *ngFor="let venta of ventas.reverse()" [routerLink]="'../'+ venta.venta_id "  [queryParams]="{ poliza_id : venta.poliza_id, beneficiario_id : venta.beneficiario_id}">
            <td >{{venta.venta_id }}</td>
            <td>{{mapService(venta.servicio_id)}}</td>
            <td >
              <span class="status" [ngClass]="getStatusClass(venta.status)">{{venta.status == 1 ? "Cotizacion" :
                venta.status == 2 ? "Realizada" : "Cancelada"}}</span>
            </td>
            <td >{{venta.fecha_venta.split('T')[0]}}</td>
            <td>{{mapQuantity(venta.cantidad)}}</td>
            <td >{{getTotalPayment(venta.total) | currency}}</td>

            <!-- <td>{{ getClientName(venta.cliente_id) | async}}</td> -->
            <td>{{  getAmountByQuantity(venta.plus, venta.cantidad) | currency}}</td>
            <td>{{  getTotalPayment(venta.descuento, venta.cantidad) | currency }}</td>
            <td>{{  getAmountByQuantity(venta.total_pago, venta.cantidad) | currency}}</td>

          </tr>








        </table>


      </div>



    </div>





</div>
