.container {
  width: 250px;
  height: 460px;
  border: 1px solid gainsboro;
  box-shadow: 0 0 10px #e4e4e4;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  /* transition: all 0.3s ease-in-out; */
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.container.selected{
  border: 1px solid var(--main-color);
  box-shadow: 0 0 2px var(--main-color);
}



.top {
  background: #e12822;
  height: calc(400px / 3);
  /* border-radius: 10px 10px 10px 10px; */
  color: white;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

span.plan-name {
  font-weight: bold;
  font-size: 25px;
}

.info {
  display: flex;
  flex-direction: column;
}

.field {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  color: gray;
  padding: 5px 0px;
  align-items: center;
  justify-content: center;
}

.field .price {
  font-size: 16px;
  font-weight: bold;
  color: var(--main-color);
}

.regions {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* gap: 10px; */
  align-items: center;
  justify-content: center;
  width: 100%;
}

tag {
  margin: 4px 3px;
}

.age-limit {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  font-size: 24px;
  font-weight: bold;
}

.field .see-more {
  font-weight: bold;
  font-size: 15px;
  padding: 4px 8px;
  border-radius: 8px;
  border: 3px solid gainsboro;
  width: fit-content;
  transition: all 0.3S ease-in-out;
  margin-top: 10px;
}
.field .see-more:hover{
  transition: all 0.3S ease-in-out;
  background-color: var(--main-color);
  border: none;
  color: white;

}

.field .see-more.active{
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  color: white;
}


.TEXTO {
  color: red;
}

