.type-siniestro{
  border: 1px solid gainsboro;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(220, 24, 24, 0.1);
  font-size: 12px;
  color: var(--text-color);
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;



}

.catalogo{
  border: 1px solid gainsboro;
  padding: 10px;

}

.w-50{
  width: 50%;
}

.w-100{
  width: 100%;
}

.catalogo.selected{
  border: 3px solid var(--main-color);
  color: var(--main-color);
}

.top{
  font-size: 15px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: var(--text-color);
}

.selected .top{
  color: var(--main-color);

}


.items{
  padding-left: 25px;
  font-size: 10px;
}
.item{
  padding: 5px 0px;
}


.custom-checkbox {
  /* Hide the default checkbox */
  display: none;
}

/* Style the custom checkbox container (you can use a pseudo-element) */
.custom-checkbox + label {
  position: relative;
  padding-left: 35px; /* Space for the custom checkbox */
  cursor: pointer;
  line-height: 1.5;
}

/* Style the custom checkbox itself */
.custom-checkbox + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px; /* Size of the custom checkbox */
  height: 20px;
  border: 2px solid gainsboro; /* Border color */
  background-color: #fff; /* Background color */
  border-radius: 8px;
}

/* Style the custom checkbox when checked */
.custom-checkbox:checked + label:before {
  background-color: var(--main-color); /* Change background color when checked */
  border-color: var(--main-color); /* Change border color when checked */
}

/* Style the checkmark inside the custom checkbox */
.custom-checkbox:checked + label:after {
  content: "\2713"; /* Unicode checkmark character */
  font-size: 14px;
  color: #fff; /* Color of the checkmark */
  position: absolute;
  left: 5px;
  top: 1px;
}

@media (max-width:1024px) {
    .catalogo{
      width: 100%;
    }
}
