.page{
  height: 100vh;
  overflow-y: auto;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;

}


.page{
  padding: 10px;
  padding-bottom: 20vh;

}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  width: 100%;
}



.info {
  padding: 0px;
}

.list{
  display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
}



.switch-display {
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding: 10px;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}



.switch-display button{
  padding: 10px 20px;
  border: 1px solid var(--main-color);
  background-color: white;
  color: var(--main-color);
  border-radius: 10px;
  cursor:  pointer;
  font-size: 12px;
}

.switch-display button.active{
  background-color: var(--main-color);
  color: white;
}

card-beneficiario,
card-poliza{
  width: 100%;
}

@media (max-width: 1024px) {

  .info{
    width: 100%;
    overflow-x: hidden;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }


  .page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 85vh;
    padding-bottom: 15vh;
  }

  .list{
    width: 100%;
    border: 5px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
  }

  /* .table-list {
    width: 100%;
    border: 1px solid gainsboro;
    overflow-y: auto;
    position: relative;
    z-index: 2;
    overflow-x: hidden;
    border-radius: 5px;
  } */


  .page-title h1{
    font-size: 15px;
  }

}
