input{
  width: 100%;
  outline: none;
  border: 1px solid   gainsboro;
  padding: 10px 20px;
  color: var(--text-color);
  border-radius: 8px;
}


.details-input{
  display: flex;
  flex-direction: column;

}

.input-date{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.details-input.error{
  color: red;
  font-weight: bold;
}


.age-detail{
  border: 1px solid gainsboro;
  flex-direction: column;
  display: flex;
  width: fit-content;
  margin: 5px;
  padding: 5px;
  border-radius: 9px;
}
