
.list-cobertura{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(100vh / 2.5), 1fr)); /* Two items per row */
  gap: 20px;
  overflow-y: auto;
  height: 100%;
  padding: 20px 0px;

}


cobertura{
  height: fit-content;

}



.list-cobertura::-webkit-scrollbar{
  width: 7px;
}
.list-cobertura::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.list-cobertura::-webkit-scrollbar-thumb{
  background: gray;

  border-radius: 25px;
}
.list-cobertura::-webkit-scrollbar-thumb:hover{
  background:gray;
}
