<div class="card" routerLink="./doc/1">
  <div class="left">
    <span>Plan</span>
    <span>MUNDIAL VIP</span>

  </div>
  <div class="right">
    <div class="field">
      <span class="title">Fecha Salida</span>
      <span>12/07/2023</span>
    </div>
    <div class="field">
      <span class="title">Fecha Retorno</span>
      <span>12/08/2023</span>
    </div>
    <div class="field">
      <span class="title">Dias</span>
      <span>30</span>
    </div>
    <div class="field">
      <span class="title">Destino</span>
      <span>Mundial</span>
    </div>
  </div>

</div>
<div class="action">
  <i class="fa-solid fa-person-falling-burst"></i>
  <span>Reportar Siniestro</span>

</div>
